node-red-master-scenario.json
[
    {
        "id": "tab_master",
        "type": "tab",
        "label": "🎬 Master Scenario - Complete Journey",
        "disabled": false,
        "info": "Automated visual simulation of complete passenger journey"
    },
    {
        "id": "comment_instructions",
        "type": "comment",
        "z": "tab_master",
        "name": "📱 WATCH YOUR ANDROID EMULATOR - Screens will automatically change!",
        "info": "",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject_full_journey",
        "type": "inject",
        "z": "tab_master",
        "name": "▶️ START FULL JOURNEY",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 120,
        "wires": [["func_init_journey"]]
    },
    {
        "id": "func_init_journey",
        "type": "function",
        "z": "tab_master",
        "name": "Initialize Journey",
        "func": "// Generate unique identifiers\nconst timestamp = Date.now();\nconst qrCode = `BUS-${timestamp}-JOURNEY`;\nconst sessionId = `journey-${timestamp}`;\n\n// Store in flow context\nflow.set('journeyQR', qrCode);\nflow.set('journeySession', sessionId);\nflow.set('journeyStartTime', timestamp);\n\nnode.warn('\\n🎬 ===== MASTER SIMULATION STARTING =====\\n');\nnode.warn('📱 Make sure your Android emulator is visible!');\nnode.warn(`🎫 QR Code: ${qrCode}`);\nnode.warn(`🗺️ Session: ${sessionId}\\n`);\n\nmsg.payload = {\n    qr_code: qrCode,\n    session_id: sessionId,\n    step: 'init'\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 120,
        "wires": [["delay_step1"]]
    },
    {
        "id": "delay_step1",
        "type": "delay",
        "z": "tab_master",
        "name": "Wait 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 600,
        "y": 120,
        "wires": [["func_step1_destination"]]
    },
    {
        "id": "func_step1_destination",
        "type": "function",
        "z": "tab_master",
        "name": "STEP 1: Destination Screen",
        "func": "node.warn('\\n📍 STEP 1: DESTINATION SELECTION');\nnode.warn('   Opening destination selection screen...');\nnode.status({fill:\"blue\", shape:\"dot\", text:\"Step 1: Destination\"});\n\nconst deepLink = 'smartbusapp://navigate?screen=destination';\nconst adbCommand = `adb shell am start -a android.intent.action.VIEW -d \"${deepLink}\"`;\n\nmsg.adbCommand = adbCommand;\nmsg.deepLink = deepLink;\nmsg.step = 'destination';\n\nnode.warn(`   ADB: ${adbCommand}\\n`);\n\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 180,
        "wires": [["exec_adb_step1", "delay_step2"]]
    },
    {
        "id": "exec_adb_step1",
        "type": "exec",
        "z": "tab_master",
        "command": "cmd /c",
        "addpay": "adbCommand",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Execute ADB",
        "x": 730,
        "y": 180,
        "wires": [[], [], []]
    },
    {
        "id": "delay_step2",
        "type": "delay",
        "z": "tab_master",
        "name": "Wait 5s (Select Destination)",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 730,
        "y": 240,
        "wires": [["func_step2_payment"]]
    },
    {
        "id": "func_step2_payment",
        "type": "function",
        "z": "tab_master",
        "name": "STEP 2: Payment Screen",
        "func": "node.warn('\\n💳 STEP 2: PAYMENT SELECTION');\nnode.warn('   Opening payment screen...');\nnode.status({fill:\"green\", shape:\"dot\", text:\"Step 2: Payment\"});\n\nconst deepLink = 'smartbusapp://navigate?screen=payment';\nconst adbCommand = `adb shell am start -a android.intent.action.VIEW -d \"${deepLink}\"`;\n\nmsg.adbCommand = adbCommand;\nmsg.deepLink = deepLink;\nmsg.step = 'payment';\n\nnode.warn(`   ADB: ${adbCommand}\\n`);\n\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 300,
        "wires": [["exec_adb_step2", "delay_step3"]]
    },
    {
        "id": "exec_adb_step2",
        "type": "exec",
        "z": "tab_master",
        "command": "cmd /c",
        "addpay": "adbCommand",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Execute ADB",
        "x": 730,
        "y": 300,
        "wires": [[], [], []]
    },
    {
        "id": "delay_step3",
        "type": "delay",
        "z": "tab_master",
        "name": "Wait 4s (Processing Payment)",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 730,
        "y": 360,
        "wires": [["func_step3_confirmation"]]
    },
    {
        "id": "func_step3_confirmation",
        "type": "function",
        "z": "tab_master",
        "name": "STEP 3: Confirmation Screen",
        "func": "node.warn('\\n✅ STEP 3: TRIP CONFIRMATION');\nnode.warn('   Opening confirmation screen...');\nnode.status({fill:\"green\", shape:\"ring\", text:\"Step 3: Confirmation\"});\n\nconst deepLink = 'smartbusapp://navigate?screen=confirmation';\nconst adbCommand = `adb shell am start -a android.intent.action.VIEW -d \"${deepLink}\"`;\n\nmsg.adbCommand = adbCommand;\nmsg.deepLink = deepLink;\nmsg.step = 'confirmation';\n\nnode.warn(`   ADB: ${adbCommand}\\n`);\n\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 420,
        "wires": [["exec_adb_step3", "delay_step4"]]
    },
    {
        "id": "exec_adb_step3",
        "type": "exec",
        "z": "tab_master",
        "command": "cmd /c",
        "addpay": "adbCommand",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Execute ADB",
        "x": 750,
        "y": 420,
        "wires": [[], [], []]
    },
    {
        "id": "delay_step4",
        "type": "delay",
        "z": "tab_master",
        "name": "Wait 3s (Journey Starts)",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 480,
        "wires": [["func_choice_point"]]
    },
    {
        "id": "func_choice_point",
        "type": "function",
        "z": "tab_master",
        "name": "Choose Scenario Path",
        "func": "node.warn('\\n🚌 Journey in progress...');\nnode.warn('   Choose scenario ending:');\nnode.warn('   - Click \"Approaching Destination\" for normal ending');\nnode.warn('   - Click \"Missed Destination\" for missed stop');\nnode.warn('   - Click \"Bus Break\" for rest stop scenario\\n');\n\nnode.status({fill:\"yellow\", shape:\"dot\", text:\"Journey in progress\"});\n\nmsg.payload = {\n    status: 'journey_active',\n    message: 'Choose ending scenario'\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 540,
        "wires": [["debug_choice"]]
    },
    {
        "id": "debug_choice",
        "type": "debug",
        "z": "tab_master",
        "name": "Journey Progress",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "comment_endings",
        "type": "comment",
        "z": "tab_master",
        "name": "🎯 SCENARIO ENDINGS - Click one to continue the journey",
        "info": "",
        "x": 270,
        "y": 620,
        "wires": []
    },
    {
        "id": "inject_approaching",
        "type": "inject",
        "z": "tab_master",
        "name": "🔔 Approaching Destination → Disembark",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 230,
        "y": 680,
        "wires": [["func_approaching"]]
    },
    {
        "id": "func_approaching",
        "type": "function",
        "z": "tab_master",
        "name": "Show Approaching Alert",
        "func": "node.warn('\\n🔔 APPROACHING DESTINATION');\nnode.warn('   Showing proximity alert...');\nnode.status({fill:\"orange\", shape:\"ring\", text:\"Approaching destination\"});\n\nconst deepLink = 'smartbusapp://simulate?type=approaching&destination=Harare&distance=500';\nconst adbCommand = `adb shell am start -a android.intent.action.VIEW -d \"${deepLink}\"`;\n\nmsg.adbCommand = adbCommand;\nmsg.deepLink = deepLink;\nmsg.step = 'approaching';\n\nnode.warn(`   ADB: ${adbCommand}\\n`);\n\nreturn msg;",
        "outputs": 1,
        "x": 500,
        "y": 680,
        "wires": [["exec_adb_approaching", "delay_disembark"]]
    },
    {
        "id": "exec_adb_approaching",
        "type": "exec",
        "z": "tab_master",
        "command": "cmd /c",
        "addpay": "adbCommand",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Execute ADB",
        "x": 770,
        "y": 680,
        "wires": [[], [], []]
    },
    {
        "id": "delay_disembark",
        "type": "delay",
        "z": "tab_master",
        "name": "Wait 3s",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 760,
        "y": 740,
        "wires": [["func_disembark"]]
    },
    {
        "id": "func_disembark",
        "type": "function",
        "z": "tab_master",
        "name": "STEP 4: Disembark Screen",
        "func": "node.warn('\\n🚪 STEP 4: DISEMBARK');\nnode.warn('   Opening disembark screen...');\nnode.status({fill:\"green\", shape:\"dot\", text:\"Step 4: Disembark\"});\n\nconst deepLink = 'smartbusapp://navigate?screen=disembark';\nconst adbCommand = `adb shell am start -a android.intent.action.VIEW -d \"${deepLink}\"`;\n\nmsg.adbCommand = adbCommand;\nmsg.deepLink = deepLink;\nmsg.step = 'disembark';\n\nnode.warn(`   ADB: ${adbCommand}\\n`);\n\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 800,
        "wires": [["exec_adb_disembark", "delay_complete"]]
    },
    {
        "id": "exec_adb_disembark",
        "type": "exec",
        "z": "tab_master",
        "command": "cmd /c",
        "addpay": "adbCommand",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Execute ADB",
        "x": 730,
        "y": 800,
        "wires": [[], [], []]
    },
    {
        "id": "delay_complete",
        "type": "delay",
        "z": "tab_master",
        "name": "Wait 2s",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 700,
        "y": 860,
        "wires": [["func_complete"]]
    },
    {
        "id": "func_complete",
        "type": "function",
        "z": "tab_master",
        "name": "Journey Complete!",
        "func": "const startTime = flow.get('journeyStartTime');\nconst duration = Math.round((Date.now() - startTime) / 1000);\n\nnode.warn('\\n🎉 ===== JOURNEY COMPLETE! =====');\nnode.warn(`   Total duration: ${duration} seconds`);\nnode.warn(`   Scenario: Approaching → Disembark`);\nnode.warn('   ✅ All steps executed successfully!\\n');\n\nnode.status({fill:\"green\", shape:\"ring\", text:\"Complete!\"});\n\nmsg.payload = {\n    status: 'complete',\n    duration: duration,\n    scenario: 'approaching_disembark'\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 920,
        "wires": [["debug_complete"]]
    },
    {
        "id": "debug_complete",
        "type": "debug",
        "z": "tab_master",
        "name": "Scenario Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 710,
        "y": 920,
        "wires": []
    },
    {
        "id": "inject_missed",
        "type": "inject",
        "z": "tab_master",
        "name": "⚠️ Missed Destination Alert",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 200,
        "y": 1000,
        "wires": [["func_missed"]]
    },
    {
        "id": "func_missed",
        "type": "function",
        "z": "tab_master",
        "name": "Show Missed Alert",
        "func": "node.warn('\\n⚠️ MISSED DESTINATION');\nnode.warn('   Showing missed stop alert...');\nnode.status({fill:\"red\", shape:\"ring\", text:\"Missed destination!\"});\n\nconst deepLink = 'smartbusapp://simulate?type=missed&destination=Harare';\nconst adbCommand = `adb shell am start -a android.intent.action.VIEW -d \"${deepLink}\"`;\n\nmsg.adbCommand = adbCommand;\nmsg.deepLink = deepLink;\nmsg.step = 'missed';\n\nnode.warn(`   ADB: ${adbCommand}\\n`);\n\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 1000,
        "wires": [["exec_adb_missed", "delay_missed_complete"]]
    },
    {
        "id": "exec_adb_missed",
        "type": "exec",
        "z": "tab_master",
        "command": "cmd /c",
        "addpay": "adbCommand",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Execute ADB",
        "x": 710,
        "y": 1000,
        "wires": [[], [], []]
    },
    {
        "id": "delay_missed_complete",
        "type": "delay",
        "z": "tab_master",
        "name": "Wait 3s",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 700,
        "y": 1060,
        "wires": [["func_missed_complete"]]
    },
    {
        "id": "func_missed_complete",
        "type": "function",
        "z": "tab_master",
        "name": "Missed Scenario Complete",
        "func": "const startTime = flow.get('journeyStartTime');\nconst duration = Math.round((Date.now() - startTime) / 1000);\n\nnode.warn('\\n⚠️ ===== MISSED DESTINATION SCENARIO COMPLETE =====');\nnode.warn(`   Total duration: ${duration} seconds`);\nnode.warn(`   Scenario: Missed Stop Alert`);\nnode.warn('   ✅ Passenger notified to alert driver\\n');\n\nnode.status({fill:\"yellow\", shape:\"ring\", text:\"Missed scenario complete\"});\n\nmsg.payload = {\n    status: 'complete',\n    duration: duration,\n    scenario: 'missed_destination'\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 480,
        "y": 1120,
        "wires": [["debug_missed_complete"]]
    },
    {
        "id": "debug_missed_complete",
        "type": "debug",
        "z": "tab_master",
        "name": "Missed Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 720,
        "y": 1120,
        "wires": []
    },
    {
        "id": "inject_bus_break",
        "type": "inject",
        "z": "tab_master",
        "name": "🚻 Bus Break Scenario",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 180,
        "y": 1200,
        "wires": [["func_bus_break"]]
    },
    {
        "id": "func_bus_break",
        "type": "function",
        "z": "tab_master",
        "name": "Navigate to Bus Break",
        "func": "node.warn('\\n🚻 BUS BREAK SCENARIO');\nnode.warn('   Opening bus break screen...');\nnode.status({fill:\"yellow\", shape:\"dot\", text:\"Bus break\"});\n\nconst deepLink = 'smartbusapp://navigate?screen=bus-break';\nconst adbCommand = `adb shell am start -a android.intent.action.VIEW -d \"${deepLink}\"`;\n\nmsg.adbCommand = adbCommand;\nmsg.deepLink = deepLink;\nmsg.step = 'bus-break';\n\nnode.warn(`   ADB: ${adbCommand}\\n`);\n\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 1200,
        "wires": [["exec_adb_bus_break", "delay_bus_break_out"]]
    },
    {
        "id": "exec_adb_bus_break",
        "type": "exec",
        "z": "tab_master",
        "command": "cmd /c",
        "addpay": "adbCommand",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Execute ADB",
        "x": 690,
        "y": 1200,
        "wires": [[], [], []]
    },
    {
        "id": "delay_bus_break_out",
        "type": "delay",
        "z": "tab_master",
        "name": "Wait 5s (Passenger leaves bus)",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 720,
        "y": 1260,
        "wires": [["func_break_return"]]
    },
    {
        "id": "func_break_return",
        "type": "function",
        "z": "tab_master",
        "name": "Passenger Returns",
        "func": "node.warn('\\n🚌 Passenger returning to bus...');\nnode.status({fill:\"green\", shape:\"dot\", text:\"Returning to bus\"});\n\n// Simulate validation when returning\nnode.warn('   Simulating QR validation on return...\\n');\n\nmsg.payload = {\n    action: 'return_from_break',\n    message: 'Passenger back on bus'\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 1320,
        "wires": [["delay_break_continue"]]
    },
    {
        "id": "delay_break_continue",
        "type": "delay",
        "z": "tab_master",
        "name": "Wait 3s",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 700,
        "y": 1320,
        "wires": [["func_break_complete"]]
    },
    {
        "id": "func_break_complete",
        "type": "function",
        "z": "tab_master",
        "name": "Bus Break Complete",
        "func": "const startTime = flow.get('journeyStartTime');\nconst duration = Math.round((Date.now() - startTime) / 1000);\n\nnode.warn('\\n🚻 ===== BUS BREAK SCENARIO COMPLETE =====');\nnode.warn(`   Total duration: ${duration} seconds`);\nnode.warn(`   Scenario: Bus Break (Out & In)`);\nnode.warn('   ✅ Passenger tracked during rest stop\\n');\n\nnode.status({fill:\"green\", shape:\"ring\", text:\"Break complete\"});\n\nmsg.payload = {\n    status: 'complete',\n    duration: duration,\n    scenario: 'bus_break'\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 1380,
        "wires": [["debug_break_complete"]]
    },
    {
        "id": "debug_break_complete",
        "type": "debug",
        "z": "tab_master",
        "name": "Break Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 710,
        "y": 1380,
        "wires": []
    }
]
