node-red-api-tests.json
[
    {
        "id": "test_flow_tab",
        "type": "tab",
        "label": "API Test Suite",
        "disabled": false,
        "info": "Automated API tests matching test scenarios"
    },
    {
        "id": "test1_inject",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "Test 1: Valid EcoCash Payment",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [["test1_prepare"]]
    },
    {
        "id": "test1_prepare",
        "type": "function",
        "z": "test_flow_tab",
        "name": "Prepare Payment Data",
        "func": "msg.payload = {\n    phone_number: \"0777123456\",\n    amount: 5.00,\n    payment_method: \"ecocash\",\n    payer_phone: \"0777123456\",\n    qr_code: \"BUS-TEST-\" + Date.now()\n};\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 80,
        "wires": [["test1_http"]]
    },
    {
        "id": "test1_http",
        "type": "http request",
        "z": "test_flow_tab",
        "name": "POST /payment/initiate/",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/trips/payment/initiate/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 80,
        "wires": [["test1_validate"]]
    },
    {
        "id": "test1_validate",
        "type": "function",
        "z": "test_flow_tab",
        "name": "Validate: Success with QR",
        "func": "const response = msg.payload;\n\nif (response.success && response.reference) {\n    msg.payload = {\n        endpoint: \"/api/trips/payment/initiate/\",\n        test: \"Valid EcoCash Payment\",\n        expected: \"Success with QR code\",\n        actual: \"PASSED ✓\",\n        details: response\n    };\n    node.status({fill:\"green\",shape:\"dot\",text:\"PASSED\"});\n} else {\n    msg.payload = {\n        endpoint: \"/api/trips/payment/initiate/\",\n        test: \"Valid EcoCash Payment\",\n        expected: \"Success with QR code\",\n        actual: \"FAILED ✗\",\n        details: response\n    };\n    node.status({fill:\"red\",shape:\"dot\",text:\"FAILED\"});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 80,
        "wires": [["test_debug"]]
    },
    {
        "id": "test2_inject",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "Test 2: Invalid Phone Number",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [["test2_prepare"]]
    },
    {
        "id": "test2_prepare",
        "type": "function",
        "z": "test_flow_tab",
        "name": "Invalid Phone Data",
        "func": "msg.payload = {\n    phone_number: \"invalid-phone\",\n    amount: 5.00,\n    payment_method: \"ecocash\",\n    payer_phone: \"invalid-phone\",\n    qr_code: \"BUS-INVALID-\" + Date.now()\n};\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 140,
        "wires": [["test2_http"]]
    },
    {
        "id": "test2_http",
        "type": "http request",
        "z": "test_flow_tab",
        "name": "POST /payment/initiate/",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/trips/payment/initiate/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 140,
        "wires": [["test2_validate"]]
    },
    {
        "id": "test2_validate",
        "type": "function",
        "z": "test_flow_tab",
        "name": "Validate: Error Response",
        "func": "const response = msg.payload;\n\nif (!response.success || msg.statusCode === 400) {\n    msg.payload = {\n        endpoint: \"/api/trips/payment/initiate/\",\n        test: \"Invalid Phone Number\",\n        expected: \"Error response\",\n        actual: \"PASSED ✓\",\n        details: response\n    };\n    node.status({fill:\"green\",shape:\"dot\",text:\"PASSED\"});\n} else {\n    msg.payload = {\n        endpoint: \"/api/trips/payment/initiate/\",\n        test: \"Invalid Phone Number\",\n        expected: \"Error response\",\n        actual: \"FAILED ✗\",\n        details: response\n    };\n    node.status({fill:\"red\",shape:\"dot\",text:\"FAILED\"});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 140,
        "wires": [["test_debug"]]
    },
    {
        "id": "run_all_tests",
        "type": "inject",
        "z": "test_flow_tab",
        "name": "▶ RUN ALL TESTS",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 20,
        "wires": [["test1_inject", "test2_inject"]]
    },
    {
        "id": "test_debug",
        "type": "debug",
        "z": "test_flow_tab",
        "name": "Test Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 100,
        "wires": []
    }
]
