node-red-manual-demo.json
[
    {
        "id": "manual_demo_tab",
        "type": "tab",
        "label": "Manual Demo Flows",
        "disabled": false,
        "info": "Node-RED flows for manual demonstration with Expo Go\n\nThese flows control backend state while you manually navigate the app."
    },
    {
        "id": "demo_scenario_1",
        "type": "inject",
        "z": "manual_demo_tab",
        "name": "🎬 SCENARIO: Normal Journey",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 80,
        "wires": [["create_trip_normal"]]
    },
    {
        "id": "create_trip_normal",
        "type": "function",
        "z": "manual_demo_tab",
        "name": "Create Trip",
        "func": "msg.payload = {\n    qr_code: \"DEMO-NORMAL-001\",\n    phone_number: \"+2637712345678\",\n    origin_lat: -17.8292,\n    origin_lng: 31.0522,\n    destination_name: \"Bulawayo City Centre\",\n    destination_lat: -20.1500,\n    destination_lng: 28.5667,\n    distance_km: 439,\n    fare: 15.00\n};\nmsg.headers = {'Content-Type': 'application/json'};\nreturn msg;",
        "outputs": 1,
        "x": 410,
        "y": 80,
        "wires": [["http_create_trip"]]
    },
    {
        "id": "http_create_trip",
        "type": "http request",
        "z": "manual_demo_tab",
        "name": "POST /api/trips/create/",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/trips/create/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 660,
        "y": 80,
        "wires": [["show_trip_created"]]
    },
    {
        "id": "show_trip_created",
        "type": "debug",
        "z": "manual_demo_tab",
        "name": "✅ Trip Created",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.qr_code",
        "statusType": "auto",
        "x": 910,
        "y": 80,
        "wires": []
    },
    {
        "id": "demo_approaching",
        "type": "inject",
        "z": "manual_demo_tab",
        "name": "📍 Trigger: Approaching Alert",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 180,
        "wires": [["set_gps_near_dest"]]
    },
    {
        "id": "set_gps_near_dest",
        "type": "function",
        "z": "manual_demo_tab",
        "name": "Set GPS Near Destination",
        "func": "// Bulawayo coordinates\nconst destination = { lat: -20.1500, lng: 28.5667 };\n\n// 3km away (should trigger alert at 5km threshold)\nconst currentLocation = { \n    lat: -20.1230,  // ~3km north\n    lng: 28.5667 \n};\n\nmsg.payload = {\n    session_id: \"demo-approaching\",\n    name: \"Approaching Destination\",\n    description: \"GPS simulation for approaching alert\",\n    waypoints: [\n        { lat: currentLocation.lat, lng: currentLocation.lng, heading: 180, speed: 60 }\n    ]\n};\n\nmsg.headers = {'Content-Type': 'application/json'};\nreturn msg;",
        "outputs": 1,
        "x": 480,
        "y": 180,
        "wires": [["http_create_gps_sim"]]
    },
    {
        "id": "http_create_gps_sim",
        "type": "http request",
        "z": "manual_demo_tab",
        "name": "POST /api/trips/simulate/gps/create/",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/trips/simulate/gps/create/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 180,
        "wires": [["show_gps_created"]]
    },
    {
        "id": "show_gps_created",
        "type": "debug",
        "z": "manual_demo_tab",
        "name": "✅ GPS Simulation Created",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.session_id",
        "statusType": "auto",
        "x": 1090,
        "y": 180,
        "wires": []
    },
    {
        "id": "demo_bus_break",
        "type": "inject",
        "z": "manual_demo_tab",
        "name": "🚻 Trigger: Bus Break",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 280,
        "wires": [["bus_break_action"]]
    },
    {
        "id": "bus_break_action",
        "type": "function",
        "z": "manual_demo_tab",
        "name": "Bus Break OUT",
        "func": "msg.payload = {\n    qr_code: \"DEMO-NORMAL-001\",\n    action: \"bus_break_out\"\n};\nmsg.headers = {'Content-Type': 'application/json'};\nreturn msg;",
        "outputs": 1,
        "x": 390,
        "y": 280,
        "wires": [["http_validate"]]
    },
    {
        "id": "http_validate",
        "type": "http request",
        "z": "manual_demo_tab",
        "name": "POST /api/trips/validate/",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/trips/validate/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 640,
        "y": 280,
        "wires": [["show_validation"]]
    },
    {
        "id": "show_validation",
        "type": "debug",
        "z": "manual_demo_tab",
        "name": "✅ Validation Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.message",
        "statusType": "auto",
        "x": 920,
        "y": 280,
        "wires": []
    },
    {
        "id": "demo_disembark",
        "type": "inject",
        "z": "manual_demo_tab",
        "name": "🚪 Trigger: Disembark",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 380,
        "wires": [["disembark_action"]]
    },
    {
        "id": "disembark_action",
        "type": "function",
        "z": "manual_demo_tab",
        "name": "Mark Disembark",
        "func": "msg.payload = {\n    qr_code: \"DEMO-NORMAL-001\",\n    action: \"disembark\"\n};\nmsg.headers = {'Content-Type': 'application/json'};\nreturn msg;",
        "outputs": 1,
        "x": 390,
        "y": 380,
        "wires": [["http_validate_disembark"]]
    },
    {
        "id": "http_validate_disembark",
        "type": "http request",
        "z": "manual_demo_tab",
        "name": "POST /api/trips/validate/",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/trips/validate/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 640,
        "y": 380,
        "wires": [["show_disembark"]]
    },
    {
        "id": "show_disembark",
        "type": "debug",
        "z": "manual_demo_tab",
        "name": "✅ Disembark Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.message",
        "statusType": "auto",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "demo_info",
        "type": "comment",
        "z": "manual_demo_tab",
        "name": "📖 MANUAL DEMONSTRATION FLOWS - Use with Expo Go",
        "info": "These flows work alongside manual app navigation.\n\n**How to use:**\n1. Start Expo Go app on emulator\n2. Click Node-RED buttons to control backend state\n3. Manually navigate app screens\n4. Watch real-time data sync\n\n**Scenarios:**\n- Normal Journey: Create trip → Navigate screens\n- Approaching Alert: Trigger GPS-based alert\n- Bus Break: Simulate passenger break\n- Disembark: Complete journey",
        "x": 300,
        "y": 20,
        "wires": []
    },
    {
        "id": "demo_qr_scan",
        "type": "inject",
        "z": "manual_demo_tab",
        "name": "📱 Simulate: QR Scan",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 480,
        "wires": [["qr_validate"]]
    },
    {
        "id": "qr_validate",
        "type": "function",
        "z": "manual_demo_tab",
        "name": "Validate QR (no action)",
        "func": "msg.payload = {\n    qr_code: \"DEMO-NORMAL-001\",\n    action: \"\"\n};\nmsg.headers = {'Content-Type': 'application/json'};\nreturn msg;",
        "outputs": 1,
        "x": 410,
        "y": 480,
        "wires": [["http_validate_qr"]]
    },
    {
        "id": "http_validate_qr",
        "type": "http request",
        "z": "manual_demo_tab",
        "name": "POST /api/trips/validate/",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/trips/validate/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 680,
        "y": 480,
        "wires": [["show_qr_result"]]
    },
    {
        "id": "show_qr_result",
        "type": "debug",
        "z": "manual_demo_tab",
        "name": "✅ QR Validation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.status",
        "statusType": "auto",
        "x": 930,
        "y": 480,
        "wires": []
    }
]