node-red-flow.json
[
    {
        "id": "tab_main",
        "type": "tab",
        "label": "Smart Bus Conductor Tests",
        "disabled": false,
        "info": "Testing flows for bus-break and disembark scenarios"
    },
    {
        "id": "inject_create_trip",
        "type": "inject",
        "z": "tab_main",
        "name": "1. Create Test Trip",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [["func_generate_trip"]]
    },
    {
        "id": "func_generate_trip",
        "type": "function",
        "z": "tab_main",
        "name": "Generate Ticket Data",
        "func": "const timestamp = Date.now();\nconst random = Math.random().toString(36).substring(2, 8).toUpperCase();\nconst ticketId = `BUS-${timestamp}-${random}`;\n\nmsg.payload = {\n    phone_number: \"+263771234567\",\n    origin_lat: -20.1500,\n    origin_lng: 28.5667,\n    destination_name: \"Harare\",\n    destination_lat: -17.8292,\n    destination_lng: 31.0522,\n    distance_km: 439.2,\n    fare: 15.0,\n    qr_code: ticketId\n};\n\nflow.set('currentTicketId', ticketId);\nflow.set('tripCreated', true);\nnode.status({fill:\"blue\", shape:\"dot\", text:`Ticket: ${ticketId}`});\n\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 80,
        "wires": [["http_create_trip"]]
    },
    {
        "id": "http_create_trip",
        "type": "http request",
        "z": "tab_main",
        "name": "POST /api/trips/create/",
        "method": "POST",
        "ret": "obj",
        "url": "http://localhost:8000/api/trips/create/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 600,
        "y": 80,
        "wires": [["debug_create"]]
    },
    {
        "id": "debug_create",
        "type": "debug",
        "z": "tab_main",
        "name": "Trip Created",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "inject_disembark",
        "type": "inject",
        "z": "tab_main",
        "name": "2. Test Disembark",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [["func_prep_disembark"]]
    },
    {
        "id": "func_prep_disembark",
        "type": "function",
        "z": "tab_main",
        "name": "Prepare QR Validation",
        "func": "const ticketId = flow.get('currentTicketId');\n\nif (!ticketId) {\n    node.error(\"No ticket ID found. Create a trip first!\");\n    node.status({fill:\"red\", shape:\"ring\", text:\"No ticket - create trip first\"});\n    return null;\n}\n\nmsg.payload = {\n    qr_code: ticketId\n};\n\nnode.status({fill:\"yellow\", shape:\"ring\", text:`Disembarking: ${ticketId}`});\n\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 180,
        "wires": [["http_validate_disembark"]]
    },
    {
        "id": "http_validate_disembark",
        "type": "http request",
        "z": "tab_main",
        "name": "POST /api/trips/validate/",
        "method": "POST",
        "ret": "obj",
        "url": "http://localhost:8000/api/trips/validate/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 630,
        "y": 180,
        "wires": [["debug_disembark"]]
    },
    {
        "id": "debug_disembark",
        "type": "debug",
        "z": "tab_main",
        "name": "Disembark Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "inject_break_out",
        "type": "inject",
        "z": "tab_main",
        "name": "3a. Bus Break - Going Out",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 280,
        "wires": [["func_going_out"]]
    },
    {
        "id": "func_going_out",
        "type": "function",
        "z": "tab_main",
        "name": "Mark Passenger Outside",
        "func": "const ticketId = flow.get('currentTicketId');\n\nif (!ticketId) {\n    node.error(\"No ticket ID found. Create a trip first!\");\n    node.status({fill:\"red\", shape:\"ring\", text:\"No ticket\"});\n    return null;\n}\n\nmsg.payload = {\n    qr_code: ticketId\n};\n\nflow.set('passengerOutside', true);\nnode.status({fill:\"orange\", shape:\"dot\", text:`OUTSIDE: ${ticketId}`});\n\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 280,
        "wires": [["http_validate_out"]]
    },
    {
        "id": "http_validate_out",
        "type": "http request",
        "z": "tab_main",
        "name": "Validate Going Out",
        "method": "POST",
        "ret": "obj",
        "url": "http://localhost:8000/api/trips/validate/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 280,
        "wires": [["debug_out"]]
    },
    {
        "id": "debug_out",
        "type": "debug",
        "z": "tab_main",
        "name": "Going Out Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "inject_break_in",
        "type": "inject",
        "z": "tab_main",
        "name": "3b. Bus Break - Coming In",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 360,
        "wires": [["func_coming_in"]]
    },
    {
        "id": "func_coming_in",
        "type": "function",
        "z": "tab_main",
        "name": "Mark Passenger Inside",
        "func": "const ticketId = flow.get('currentTicketId');\nconst isOutside = flow.get('passengerOutside');\n\nif (!ticketId) {\n    node.error(\"No ticket ID found. Create a trip first!\");\n    node.status({fill:\"red\", shape:\"ring\", text:\"No ticket\"});\n    return null;\n}\n\nif (!isOutside) {\n    node.warn(\"Passenger not marked as outside!\");\n}\n\nmsg.payload = {\n    qr_code: ticketId\n};\n\nflow.set('passengerOutside', false);\nnode.status({fill:\"green\", shape:\"dot\", text:`INSIDE: ${ticketId}`});\n\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 360,
        "wires": [["http_validate_in"]]
    },
    {
        "id": "http_validate_in",
        "type": "http request",
        "z": "tab_main",
        "name": "Validate Coming In",
        "method": "POST",
        "ret": "obj",
        "url": "http://localhost:8000/api/trips/validate/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 360,
        "wires": [["debug_in"]]
    },
    {
        "id": "debug_in",
        "type": "debug",
        "z": "tab_main",
        "name": "Coming In Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "inject_active_trips",
        "type": "inject",
        "z": "tab_main",
        "name": "4. Get Active Trips",
        "props": [{"p": "payload"}],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 460,
        "wires": [["http_active_trips"]]
    },
    {
        "id": "http_active_trips",
        "type": "http request",
        "z": "tab_main",
        "name": "GET /api/trips/active/",
        "method": "GET",
        "ret": "obj",
        "url": "http://localhost:8000/api/trips/active/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 390,
        "y": 460,
        "wires": [["func_process_active"]]
    },
    {
        "id": "func_process_active",
        "type": "function",
        "z": "tab_main",
        "name": "Process Active Trips",
        "func": "const activeTrips = msg.payload;\n\nif (!Array.isArray(activeTrips)) {\n    node.status({fill:\"red\", shape:\"ring\", text:\"Invalid response\"});\n    return null;\n}\n\nnode.status({\n    fill: activeTrips.length > 0 ? \"green\" : \"grey\",\n    shape: \"dot\",\n    text: `Active: ${activeTrips.length} passengers`\n});\n\nmsg.payload = {\n    count: activeTrips.length,\n    trips: activeTrips.map(t => ({\n        id: t.id,\n        destination: t.destination_name,\n        distance: `${t.distance_km} km`\n    }))\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 630,
        "y": 460,
        "wires": [["debug_active"]]
    },
    {
        "id": "debug_active",
        "type": "debug",
        "z": "tab_main",
        "name": "Active Trips Monitor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "inject_health",
        "type": "inject",
        "z": "tab_main",
        "name": "5. Backend Health Check",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 560,
        "wires": [["http_health"]]
    },
    {
        "id": "http_health",
        "type": "http request",
        "z": "tab_main",
        "name": "GET /api/trips/health/",
        "method": "GET",
        "ret": "obj",
        "url": "http://localhost:8000/api/trips/health/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 420,
        "y": 560,
        "wires": [["debug_health"]]
    },
    {
        "id": "debug_health",
        "type": "debug",
        "z": "tab_main",
        "name": "Backend Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "comment_instructions",
        "type": "comment",
        "z": "tab_main",
        "name": "INSTRUCTIONS: Click buttons in order (1→2→3a→3b→4). Check Debug panel for results.",
        "info": "# Smart Bus Conductor Testing Flow\n\n## Order of Operations:\n1. **Create Test Trip** - Generates a passenger ticket\n2. **Test Disembark** - Simulates passenger exiting\n3a. **Bus Break - Going Out** - Passenger leaves during rest stop\n3b. **Bus Break - Coming In** - Passenger returns to bus\n4. **Get Active Trips** - Monitor active passengers (auto-refreshes every 10s)\n5. **Backend Health Check** - Verify backend is running\n\n## Requirements:\n- Backend must be running on http://localhost:8000\n- Run migrations: `python manage.py migrate`\n- Start server: `python manage.py runserver`\n\n## Notes:\n- Bus-break does NOT complete the trip (passenger still active)\n- Disembark COMPLETES the trip (passenger removed)\n- Create a new trip before each test scenario",
        "x": 380,
        "y": 20,
        "wires": []
    }
]
