node-red-simulations.json
[
    {
        "id": "tab_simulations",
        "type": "tab",
        "label": "🎮 Smart Bus Simulations",
        "disabled": false,
        "info": "Visual app simulations with Node-RED"
    },
    {
        "id": "comment_deeplinks",
        "type": "comment",
        "z": "tab_simulations",
        "name": "📱 DEEP LINK SIMULATIONS - Trigger app actions instantly",
        "info": "",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject_qr_scan",
        "type": "inject",
        "z": "tab_simulations",
        "name": "📷 Simulate QR Scan",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [["func_qr_deeplink"]]
    },
    {
        "id": "func_qr_deeplink",
        "type": "function",
        "z": "tab_simulations",
        "name": "Generate QR Deep Link",
        "func": "const qrCode = `BUS-${Date.now()}-TEST`;\nconst deepLink = `smartbusapp://simulate?type=qr&code=${qrCode}`;\n\nnode.warn(`📱 Open this link on your device/emulator:\\n${deepLink}`);\nnode.warn(`📋 Or scan this QR code: ${qrCode}`);\n\nmsg.payload = {\n    qr_code: qrCode,\n    deep_link: deepLink,\n    instruction: \"Copy link and open in browser, or use 'adb shell am start -a android.intent.action.VIEW -d deepLink' on emulator\"\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 100,
        "wires": [["debug_qr_link"]]
    },
    {
        "id": "debug_qr_link",
        "type": "debug",
        "z": "tab_simulations",
        "name": "QR Link",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "inject_gps_location",
        "type": "inject",
        "z": "tab_simulations",
        "name": "📍 Simulate GPS Location",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 160,
        "wires": [["func_gps_deeplink"]]
    },
    {
        "id": "func_gps_deeplink",
        "type": "function",
        "z": "tab_simulations",
        "name": "Generate GPS Deep Link",
        "func": "// Harare coordinates\nconst lat = -17.8292;\nconst lng = 31.0522;\nconst deepLink = `smartbusapp://simulate?type=gps&lat=${lat}&lng=${lng}`;\n\nnode.warn(`📱 GPS Deep Link:\\n${deepLink}`);\n\nmsg.payload = {\n    latitude: lat,\n    longitude: lng,\n    deep_link: deepLink,\n    instruction: \"This will set app GPS to Harare\"\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 160,
        "wires": [["debug_gps_link"]]
    },
    {
        "id": "debug_gps_link",
        "type": "debug",
        "z": "tab_simulations",
        "name": "GPS Link",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "inject_approaching",
        "type": "inject",
        "z": "tab_simulations",
        "name": "🔔 Approaching Destination",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 180,
        "y": 220,
        "wires": [["func_approaching_link"]]
    },
    {
        "id": "func_approaching_link",
        "type": "function",
        "z": "tab_simulations",
        "name": "Approaching Alert Link",
        "func": "const destination = \"Harare\";\nconst distance = 500; // meters\nconst deepLink = `smartbusapp://simulate?type=approaching&destination=${destination}&distance=${distance}`;\n\nnode.warn(`📱 Approaching Alert Link:\\n${deepLink}`);\n\nmsg.payload = {\n    destination: destination,\n    distance: distance,\n    deep_link: deepLink,\n    instruction: \"Triggers 'Approaching Destination' alert in app\"\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 440,
        "y": 220,
        "wires": [["debug_approaching"]]
    },
    {
        "id": "debug_approaching",
        "type": "debug",
        "z": "tab_simulations",
        "name": "Approaching",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "inject_missed",
        "type": "inject",
        "z": "tab_simulations",
        "name": "⚠️ Missed Destination",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 280,
        "wires": [["func_missed_link"]]
    },
    {
        "id": "func_missed_link",
        "type": "function",
        "z": "tab_simulations",
        "name": "Missed Alert Link",
        "func": "const destination = \"Harare\";\nconst deepLink = `smartbusapp://simulate?type=missed&destination=${destination}`;\n\nnode.warn(`📱 Missed Destination Link:\\n${deepLink}`);\n\nmsg.payload = {\n    destination: destination,\n    deep_link: deepLink,\n    instruction: \"Triggers 'Missed Destination' alert in app\"\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 390,
        "y": 280,
        "wires": [["debug_missed"]]
    },
    {
        "id": "debug_missed",
        "type": "debug",
        "z": "tab_simulations",
        "name": "Missed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "comment_gps_path",
        "type": "comment",
        "z": "tab_simulations",
        "name": "🗺️ GPS PATH SIMULATION - Simulate movement along a route",
        "info": "",
        "x": 290,
        "y": 360,
        "wires": []
    },
    {
        "id": "inject_create_journey",
        "type": "inject",
        "z": "tab_simulations",
        "name": "1️⃣ Create Journey Path",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 420,
        "wires": [["func_journey_path"]]
    },
    {
        "id": "func_journey_path",
        "type": "function",
        "z": "tab_simulations",
        "name": "Generate Waypoints",
        "func": "// Simulate journey from Bulawayo to near Harare\n// Creating waypoints every ~40km\nconst waypoints = [\n    {lat: -20.1500, lng: 28.5667, heading: 45, speed: 22},  // Bulawayo (start)\n    {lat: -19.8000, lng: 28.8000, heading: 45, speed: 25},  // 40km NE\n    {lat: -19.4500, lng: 29.0500, heading: 45, speed: 24},  // 80km NE\n    {lat: -19.1000, lng: 29.3000, heading: 50, speed: 23},  // 120km NE\n    {lat: -18.7500, lng: 29.6000, heading: 55, speed: 25},  // 160km NE\n    {lat: -18.4000, lng: 29.9000, heading: 60, speed: 22},  // 200km NE\n    {lat: -18.1000, lng: 30.2500, heading: 65, speed: 20},  // 240km NE (approaching)\n    {lat: -17.9000, lng: 30.6000, heading: 70, speed: 18},  // 280km NE (closer)\n    {lat: -17.8500, lng: 30.8500, heading: 75, speed: 15},  // Near Harare (500m away)\n    {lat: -17.8292, lng: 31.0522, heading: 80, speed: 10}   // Harare (destination)\n];\n\nconst sessionId = `journey-${Date.now()}`;\nflow.set('currentSessionId', sessionId);\n\nmsg.payload = {\n    session_id: sessionId,\n    name: \"Bulawayo to Harare\",\n    description: \"Simulated highway journey with approaching and arrival alerts\",\n    waypoints: waypoints\n};\n\nnode.status({fill:\"blue\", shape:\"dot\", text:`Session: ${sessionId}`});\nnode.warn(`🗺️ Created ${waypoints.length} waypoints for journey`);\n\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 420,
        "wires": [["http_create_simulation"]]
    },
    {
        "id": "http_create_simulation",
        "type": "http request",
        "z": "tab_simulations",
        "name": "POST /api/simulate/gps/create/",
        "method": "POST",
        "ret": "obj",
        "url": "http://localhost:8000/api/trips/simulate/gps/create/",
        "tls": "",
        "x": 670,
        "y": 420,
        "wires": [["debug_simulation_created"]]
    },
    {
        "id": "debug_simulation_created",
        "type": "debug",
        "z": "tab_simulations",
        "name": "Journey Created",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "inject_start_journey",
        "type": "inject",
        "z": "tab_simulations",
        "name": "2️⃣ Start Journey in App",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 180,
        "y": 480,
        "wires": [["func_start_journey"]]
    },
    {
        "id": "func_start_journey",
        "type": "function",
        "z": "tab_simulations",
        "name": "Generate Start Link",
        "func": "const sessionId = flow.get('currentSessionId');\n\nif (!sessionId) {\n    node.error(\"No session found! Create journey first.\");\n    return null;\n}\n\nconst deepLink = `smartbusapp://simulate/gps?session_id=${sessionId}`;\n\nnode.warn(`📱 START JOURNEY:\\n${deepLink}\\n\\nFor Android Emulator, run in terminal:\\nadb shell am start -a android.intent.action.VIEW -d \"${deepLink}\"`);\n\nmsg.payload = {\n    session_id: sessionId,\n    deep_link: deepLink,\n    adb_command: `adb shell am start -a android.intent.action.VIEW -d \"${deepLink}\"`,\n    instruction: \"Copy the adb command and run it in your terminal, or open the deep link on your device\"\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 480,
        "wires": [["debug_start_journey"]]
    },
    {
        "id": "debug_start_journey",
        "type": "debug",
        "z": "tab_simulations",
        "name": "Start Journey",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "inject_list_simulations",
        "type": "inject",
        "z": "tab_simulations",
        "name": "📋 List All Simulations",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 170,
        "y": 540,
        "wires": [["http_list_simulations"]]
    },
    {
        "id": "http_list_simulations",
        "type": "http request",
        "z": "tab_simulations",
        "name": "GET /api/simulate/gps/list/",
        "method": "GET",
        "ret": "obj",
        "url": "http://localhost:8000/api/trips/simulate/gps/list/",
        "tls": "",
        "x": 430,
        "y": 540,
        "wires": [["debug_list"]]
    },
    {
        "id": "debug_list",
        "type": "debug",
        "z": "tab_simulations",
        "name": "Available Simulations",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "comment_complete_scenario",
        "type": "comment",
        "z": "tab_simulations",
        "name": "🎬 COMPLETE SCENARIO - Full passenger journey with QR scan",
        "info": "",
        "x": 300,
        "y": 620,
        "wires": []
    },
    {
        "id": "inject_complete_scenario",
        "type": "inject",
        "z": "tab_simulations",
        "name": "▶️ Run Complete Scenario",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 180,
        "y": 680,
        "wires": [["func_complete_scenario"]]
    },
    {
        "id": "func_complete_scenario",
        "type": "function",
        "z": "tab_simulations",
        "name": "Create Trip + Journey",
        "func": "// Step 1: Create a trip\nconst timestamp = Date.now();\nconst qrCode = `BUS-${timestamp}-SCENARIO`;\n\nmsg.tripData = {\n    phone_number: \"+263771234567\",\n    origin_lat: -20.1500,\n    origin_lng: 28.5667,\n    destination_name: \"Harare\",\n    destination_lat: -17.8292,\n    destination_lng: 31.0522,\n    distance_km: 439.2,\n    fare: 15.0,\n    qr_code: qrCode\n};\n\nflow.set('scenarioQR', qrCode);\nflow.set('scenarioSessionId', `scenario-${timestamp}`);\n\nmsg.payload = msg.tripData;\nnode.warn(`🎬 Starting complete scenario with QR: ${qrCode}`);\n\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 680,
        "wires": [["http_create_trip_scenario"]]
    },
    {
        "id": "http_create_trip_scenario",
        "type": "http request",
        "z": "tab_simulations",
        "name": "Create Trip",
        "method": "POST",
        "ret": "obj",
        "url": "http://localhost:8000/api/trips/create/",
        "tls": "",
        "x": 650,
        "y": 680,
        "wires": [["func_scenario_step2"]]
    },
    {
        "id": "func_scenario_step2",
        "type": "function",
        "z": "tab_simulations",
        "name": "Generate Instructions",
        "func": "const qrCode = flow.get('scenarioQR');\nconst sessionId = flow.get('scenarioSessionId');\n\n// Generate all deep links\nconst qrLink = `smartbusapp://simulate?type=qr&code=${qrCode}`;\nconst startJourneyLink = `smartbusapp://simulate/gps?session_id=${sessionId}`;\n\nnode.warn(`\\n🎬 COMPLETE SCENARIO READY!\\n\\n` +\n    `1️⃣ Scan QR Code:\\n   ${qrLink}\\n\\n` +\n    `2️⃣ Start GPS Journey:\\n   ${startJourneyLink}\\n\\n` +\n    `📱 For Android Emulator:\\n   adb shell am start -a android.intent.action.VIEW -d \"${qrLink}\"\\n   adb shell am start -a android.intent.action.VIEW -d \"${startJourneyLink}\"\\n`);\n\nmsg.payload = {\n    success: true,\n    qr_code: qrCode,\n    session_id: sessionId,\n    qr_link: qrLink,\n    journey_link: startJourneyLink,\n    adb_qr: `adb shell am start -a android.intent.action.VIEW -d \"${qrLink}\"`,\n    adb_journey: `adb shell am start -a android.intent.action.VIEW -d \"${startJourneyLink}\"`,\n    instructions: [\n        \"1. Run the adb_qr command to simulate QR scan\",\n        \"2. Run the adb_journey command to start GPS simulation\",\n        \"3. Watch the app respond to GPS updates with alerts\"\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 740,
        "wires": [["debug_scenario_complete"]]
    },
    {
        "id": "debug_scenario_complete",
        "type": "debug",
        "z": "tab_simulations",
        "name": "Scenario Instructions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 700,
        "y": 740,
        "wires": []
    }
]
